
img {
    max-width: 100%; 
}

.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #F8F9FA;
}

/* sezione asidebar */

.search-bar-body > * ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-bar-body > * a {
    color: currentColor;   
}

.search-bar-body {
    flex-shrink: 0;
    margin: 15px 0;
    background-color: white;
}

.small-logo {
    width: 50px;
    display: block;
}

.search-bar {
    border: none;
    width: 100%;
    border-radius: 5px;
    line-height: 35px;
}

::placeholder {
    padding-left: 5px;
    font-size: 13px;
    font-family: fontawesome;
    color: rgb(152, 151, 151);
}


.bell-icon {
    color: #FF8F00;
}

/* sezione contenuto header e main */
.app-body {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

/* inizio header */

.nav_bar {
    width: 60px;
    border: 1px solid rgb(131, 131, 0);
    flex-shrink: 0;
    overflow: hidden;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #12283F;
}

.icon-admin {
    margin-top: auto;
}

.nav_bar_icons:hover {
    background-color: rgba(209, 209, 209, 0.2);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 500ms;
}

/* inizio sezione contenuto app */

.app-contant {
    flex-grow: 1;
    overflow: auto;
}

.badge-info {
    background-color: #1B72E8;
}

.badge-tag {
    background-color: rgba(1, 1, 1, 0.1);
    display: inline-block;
    line-height: 25px;
    padding: 0 10px 1px;
    border-radius: 100px;
    font-weight: 500;
    margin-bottom: 10px;
}


/* inizio contenuto pagina */


.first-cell {
    width: 30%;
}

th {
    font-weight: 600;
}

.table-img {
    width: 30px;
    margin-right: 8px;
}

/* inizio sezione offcanvas */

.offcanvas.space {
    width: 100%;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

    .first-cell {
        width: 40%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 


    .first-cell {
        width: 50%;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .nav_bar {
        width: 150px;
    }

    .offcanvas.space {
        width: 50%;
    }

    .nav_bar_icons:hover {
        padding: 10px 15px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

 }